<!DOCTYPE html>

<html>
<head>
    <title>Webbsite bán hàng điện lạnh</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/css/Home_style.css" rel="stylesheet" type="text/css" media="all">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css"><!--//fonts-->
    <!-- start menu -->
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="~/Content/js/simpleCart.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <!--header-->
    <div class="header">
        @Html.Partial("~/Views/Layout//HeaderTopPartial.cshtml")
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                @Html.Action("MenuPartial", "Home")

                <div class="clearfix"> </div>
            </div>
        </div>

    </div>

    <!--content-->
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">

                <div class="col-md-3 amet-sed">
                    <h4 style="color:white">Thông Tin</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">Tích điểm Quà tặng</a></li>
                        <li><a href="contact.html">Giao hàng tận nơi</a></li>
                        <li><a href="#">Lịch sử mua hàng</a></li>
                        <li><a href="#">Ưu đãi cho thành viên vip</a></li>
                        <li><a href="#">Tìm hiểu về mua trả góp</a></li>
                    </ul>
                </div>
                <div class="col-md-3 amet-sed ">
                    <h4 style="color: white">Hỗ trợ kỹ thuật</h4>

                    <p>
                        Hotline: 1900.0000
                    </p>
                    <p>
                        Mail: test@gmail.com
                    </p>

                    <ul class="social">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="rss"> </i></a></li>
                        <li><a href="#"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                <div class="col-md-3 amet-sed">
                    <h4 style="color: white">Về công ty</h4>
                    <p>Giới thiệu công ty</p>
                    <p>Tuyển dụng</p>
                    <p>Gửi góp ý, khiếu nại</p>
                    <p>
                        Sign Up to get promotion
                    </p>
                    <form>
                        <input style="width:65%;" type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <input style="width:30%;" type="submit" value="Sign up">
                    </form>
                </div>
                <div class="col-md-3 amet-sed">
                    <h4 style="color:white">Địa chỉ</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1814667337917!2d106.70138845048224!3d10.797409492269574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b70255f141%3A0xaf965be82ec2ef0!2zMTQxIMSQaeG7h24gQmnDqm4gUGjhu6csIFBoxrDhu51uZyAxNSwgQsOsbmggVGjhuqFuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1656670784465!5m2!1svi!2s" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="footer-class">
            <p>Công ty cổ phần điện lạnh. GPDKKD: 123456789 do sở KH & ĐT TP.HCM cấp ngày 01/07/2022 </p>
        </div>
    </div>


</body>
</html>
